<h1>Showing Article details</h1>

<%# #use embedded ruby tags %= this means evaluate and render to the screen %>
 
<p><strong>Title:</strong><%= @article.title %></p>
<p><strong>Description:</strong><%= @article.description %></p>



